#scroll-top-link {
  position: fixed;
  border-radius: $scroll-to-top-border-radius;
  height: $scroll-to-top-size;
  width: $scroll-to-top-size;
  line-height: $scroll-to-top-size;
  text-decoration: none;
  text-align: center;
  opacity: 0;
  right: $scroll-to-top-from-edges;
  bottom: $scroll-to-top-from-edges;
  z-index: $scroll-to-top-from-zindex;
  visibility: hidden;
  transition: all 0.3s ease-out;
  font-size: $scroll-to-top-font-size;
}

.scrolled #scroll-top-link {
  opacity: 0.7;
  visibility: visible;
}
