.boogiebox {
  @media (min-width: $screen-sm-min) {
    .sm-box-auto {
      @include flex-x(auto);
      width: auto; //overides widths
    }

    .sm-box {
      @include flex-x(1);
    }

    .sm-box-2x {
      @include flex-x(2);
    }

    .sm-box-3x {
      @include flex-x(3);
    }

    .sm-box-4x {
      @include flex-x(4);
    }

    .sm-box-5x {
      @include flex-x(5);
    }

    .sm-box-6x {
      @include flex-x(6);
    }

    .sm-box-7x {
      @include flex-x(7);
    }

    .sm-box-8x {
      @include flex-x(8);
    }

    .sm-box-9x {
      @include flex-x(9);
    }

    .sm-box-10x {
      @include flex-x(10);
    }

    .sm-box-5 {
      @include flex-xp(5%);
    }

    .sm-box-10 {
      @include flex-xp(10%);
    }

    .sm-box-12 {
      @include flex-xp(12.5%);
    }

    .sm-box-14 {
      @include flex-xp(14.2857142857%);
    }

    .sm-box-16 {
      @include flex-xp(16.666666666667%);
    }

    .sm-box-20 {
      @include flex-xp(20%);
    }

    .sm-box-25 {
      @include flex-xp(25%);
    }

    .sm-box-33 {
      @include flex-xp(33.333333333334%);
    }

    .sm-box-40 {
      @include flex-xp(40%);
    }

    .sm-box-50 {
      @include flex-xp(50%);
    }

    .sm-box-60 {
      @include flex-xp(60%);
    }

    .sm-box-66 {
      @include flex-xp(66.666666666667%);
    }

    .sm-box-75 {
      @include flex-xp(75%);
    }

    .sm-box-80 {
      @include flex-xp(80%);
    }

    .sm-box-100 {
      @include flex-xp(100%);
    }

    .sm-order-1 {
      @include flexorder(1);
    }

    .sm-order-2 {
      @include flexorder(2);
    }

    .sm-order-3 {
      @include flexorder(3);
    }

    .sm-order-4 {
      @include flexorder(4);
    }

    .sm-order-5 {
      @include flexorder(5);
    }

    .sm-order-6 {
      @include flexorder(6);
    }
  }
  @media (max-width: $screen-xs-max) {
    [class*="sm-box"] {
      margin-bottom: $gutter-width;
      &.no-bottom-margin {
        margin-bottom: 0;
      }
    }
  }
}
