body {
  overflow-x: hidden; //helps the negative margin issue
}

.boogiebox {
  @include flex();
  flex-flow: row wrap;
  margin-left: -$gutter-width;
  padding: 0; //resets for menus
  margin-top: 0; //resets for menus
  margin-bottom: 0; //resets for menus
  list-style: none; //resets for menus

  .boogiebox {
    margin-left: -$gutter-width;
  }

  &.justify {
    &-end {
      -ms-flex-pack: end;
      justify-content: flex-end;
    }

    &-center {
      -ms-flex-pack: center;
      justify-content: center;
    }

    &-bookends {
      -ms-flex-pack: justify;
      justify-content: space-between;

      &-xs {
        @media screen and (max-width: $screen-xs-max) {
          -ms-flex-pack: justify;
          justify-content: space-between;
        }
      }
    }

    &-evenaround {
      -ms-flex-pack: distribute;
      justify-content: space-around;
    }
  }

  &.align {
    &-top {
      -ms-flex-align: start;
      align-items: flex-start;
    }

    &-bottom {
      -ms-flex-align: end;
      align-items: flex-end;
    }

    &-center {
      -ms-flex-align: center;
      align-items: center;
    }

    &-stretch {
      -ms-flex-align: stretch;
      align-content: stretch;
    }
  }

  > * {
    @include flex-x(auto); //displays inline
    width: auto; //overides widths
    padding-left: $gutter-width;
    min-width: 1px;
    margin: 0; //resets and fixes menus too
  }

  &.jumbo {
    margin-left: (-$gutter-width * 3);

    > * {
      padding-left: ($gutter-width * 3);
    }
  }

  &.full,
  .full {
    flex: 1 100%;
    width: 100%;
  }

  &.one-row {
    flex-wrap: nowrap;
  }

  // Remove padding:
  &.butts-up {
    margin-left: 0;

    > * {
      padding: 0;
      @include flex-x(auto); //displays inline
    }
  }

  // Individual items vertical align
  .v-align {
    &-top {
      align-self: flex-start;
    }

    &-center {
      -ms-flex-item-align: center; // IE10
      align-self: center;
    }

    &-bottom {
      align-self: flex-end;
    }

    &-stretch {
      align-self: stretch;
    }
  }

  //force all to full width before media query
  [class^="xs-box"],
  [class*="xs-box"],
  [class^="sm-box"],
  [class*="sm-box"],
  [class^="md-box"],
  [class*="md-box"],
  [class^="lg-box"],
  [class*="lg-box"] {
    width: 100%;
  }
}

/**
 * Making a row layout, with one taking up all space except the other rows
 */
.fillbox {
  justify-content: space-between;
  @include flex();
  flex-direction: column;

  .filler {
    flex-grow: 1;
  }
}
