.boogiebox {
  //magic one liners
  .xs-box-auto {
    @include flex-x(auto); //displays inline
    width: auto; //overides widths
  }

  .xs-box {
    @include flex-x(1);
  }

  .xs-box-2x {
    @include flex-x(2);
  }

  .xs-box-3x {
    @include flex-x(3);
  }

  .xs-box-4x {
    @include flex-x(4);
  }

  .xs-box-5x {
    @include flex-x(5);
  }

  .xs-box-6x {
    @include flex-x(6);
  }

  .xs-box-7x {
    @include flex-x(7);
  }

  .xs-box-8x {
    @include flex-x(8);
  }

  .xs-box-9x {
    @include flex-x(9);
  }

  .xs-box-10x {
    @include flex-x(10);
  }

  //multirow
  .xs-box-5 {
    @include flex-xp(5%);
  }

  .xs-box-10 {
    @include flex-xp(10%);
  }

  .xs-box-12 {
    @include flex-xp(12.5%);
  }

  .xs-box-14 {
    @include flex-xp(14.2857142857%);
  }

  .xs-box-16 {
    @include flex-xp(16.666666666667%);
  }

  .xs-box-20 {
    @include flex-xp(20%);
  }

  .xs-box-25 {
    @include flex-xp(25%);
  }

  .xs-box-33 {
    @include flex-xp(33.333333333334%);
  }

  .xs-box-40 {
    @include flex-xp(40%);
  }

  .xs-box-50 {
    @include flex-xp(50%);
  }

  .xs-box-60 {
    @include flex-xp(60%);
  }

  .xs-box-66 {
    @include flex-xp(66.666666666667%);
  }

  .xs-box-75 {
    @include flex-xp(75%);
  }

  .xs-box-80 {
    @include flex-xp(80%);
  }

  //don't need 100, it's already that by default

  .order-1 {
    @include flexorder(1);
  }

  .order-2 {
    @include flexorder(2);
  }

  .order-3 {
    @include flexorder(3);
  }

  .order-4 {
    @include flexorder(4);
  }

  .order-5 {
    @include flexorder(5);
  }

  .order-6 {
    @include flexorder(6);
  }
}
