//Responsive headings
@mixin headings($h) {
    font-size: $h * 0.8;

    @media screen and (min-width: $screen-sm-min) {
        font-size: $h;
    }
}

//clearfixing
@mixin clearfix {
    &:before,
    &:after {
        content: " ";
        display: table;
    }

    &:after {
        clear: both;
    }
}

.clearfix {
    @include clearfix;
}

//flex mixins
@mixin flex {
    display: table-cell;

    // ie9
    display: flex;
    flex-flow: column;
}

@mixin flex-x($w) {
    flex: $w 0;
}

//flex percent mixins
@mixin flex-xp($w) {
    flex-basis: auto;
    width: $w;
    max-width: $w; //for ie 10 and 11
}

// Typography
@mixin text-emphasis-variant($color) {
    color: $color;

    a {
        &:hover,
        &:focus {
            color: darken($color, 10%);
        }
    }
}

// Box sizing
@mixin box-sizing($boxmodel) {
    box-sizing: $boxmodel;
}

//Ordering mixin
@mixin flexorder($onum) {
    order: $onum;
}